main h1 {
  font-size: 1.5rem;
  text-align: center;
  // padding-top: 20px;
  margin: 10px 0;
  font-weight: 100;
  max-height: 100vh;
}
.letter-n {
  font-family: $head-font;
  color: $accent-color;
}
.male {
  color: $female-accent;
  background: $primary-color;
}
.female {
  color: $primary-color;
  background: $female-accent;
}

#male-btn {
  border: 2px solid $female-accent;
  color: $male-accent;
  transition: box-shadow 1000ms;

  &:hover {
    box-shadow: 0 0 15px $female-accent;
    cursor: pointer;
  }
}

#female-btn {
  border: 2px solid $male-accent;
  color: $female-accent;
  transition: box-shadow 1000ms;

  &:hover {
    box-shadow: 0 0 15px $male-accent;
    cursor: pointer;
  }
}

.machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__slots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin: 10px 0;

    &__slot {
      margin: 20px 25px;
      min-width: 250px;
      min-height: 120px;
      border: 1px solid $accent-color;

      font-weight: 700;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__text {
    font-size: 1.2rem;
    text-align: center;
    margin: 10px 0;
    height: 100px;
    max-width: 290px;
  }

  &__btn {
      .btn-hover-border{
         @include hover-button();
      }
  }
}
