.title{

    padding: 25px;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(255, 192, 203, 0.192);

    &__text{
        font-family: $head-font;
        font-size: 3rem;
        color: $accent-color;
        animation: neon 2.5s ease infinite;
    }

    &__warn{
        padding: 2px;
        border: 1px solid red;
        border-radius: 9999px;
    }
}

@keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 6px #FA1C16, 0 0 18px #FA1C16, 0 0 60px #FA1C16, 0 0 60px #FA1C16, 0 0 4px #FED128, 2px 2px 1px #806914;
      color: $accent-color;
    }
    50% {
      text-shadow: 0 0 3px #800E0B, 0 0 9px #800E0B, 0 0 30px #800E0B, 0 0 30px #800E0B, 0 0 2px #800E0B, 2px 2px 1px #40340A;
      color: $female-accent;
    }
  }